body{ background-color:rgb(233, 229, 225);
    background-image: url("bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto; 
    font-family: 'Helvetica Neue', sans-serif;   

}

.mainlink{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(71, 70, 70);
    font-size: 25px;

}
.btContainerlong{
    height: auto;
    width: 700px;
    border-radius: 10px;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: beige;
    padding-top: 10px;
    padding-bottom: 20px;
}
.btContainer{
    height: 500px;
    width: 700px;
    border-radius: 10px;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: beige;
    padding-top: 10px;
    padding-bottom: 20px;
}

.fileinput{
  margin-right: 20px;
  height: 50px;
  border: none;
  background: #727275;
  padding: 10px 20px;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  
}

.fileinput:hover {opacity: 1; background-color: rgb(51, 49, 49);}

.mbody{
    background-color: rgb(193, 223, 223);
}

.inputimage{
    width: 230px;
    height: 230px;
}

.para{ font-size: 20px; }

.cogHlink{
    background-color: rgb(233, 229, 225, 0.6);
    color: #0275d8;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    border-radius: 8px;
    border: 1px solid #0275d8;
}
.cogHlink:hover{
    background-color: #0275d8;
    color: rgb(233, 229, 225);
}

.cogHlinkCont{
    top: 170px;
    padding-left: 20px;
    text-align:left;
    position: absolute;
    right: 16px;
}